@model dynamic

@{
    ViewBag.Title = "Careers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<p>
    <b>Careers</b>
    We are always looking for talented technicians and passionate professionals to join our growing MSPCloud family. 
    If you are interested in joining a dynamic and fast growing company with a hunger for success please send your CV to careers@mspcloud.co.za.
</p>