@model dynamic

@{
    ViewBag.Title = "Careers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="wrapper">
    <div class="container">
        <div id="banner" class="container"><img src="~/Resources/CareersImage.png" width="60%" height="20%" alt="" /></div>
        <br/>
        <h2 style="letter-spacing: 1px">@ViewBag.Title</h2>

        <p class="coolfont">
            We are always looking for talented technicians and passionate professionals to join our growing MSPCloud family.<br>
            If you are interested in joining a dynamic and fast growing company with a hunger<br>
            for success please send your CV to: <b>careers@mspcloud.co.za</b>.
        </p>
    </div>
</div>
