@using MSPCloudSite.Models
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="aboutUsDiv" class="aboutUsBackground">
    <div class="container body-content">
        <h2>About Us</h2>
        <p>
            <br />
            MSPCloud is a unique managed support provider whether your ICT environment is on-prem, in the cloud or a hybrid solution.
            <br />
            MSPCloud focuses on being the best managed support provider while still offering all the additional ICT services required to run your business successfully.
            <br />
            MSPCloud partners with leading ICT companies across the globe to ensure an ICT solution that fits your needs.
            <br />
            MSPCloud will provide you with comprehensive IT support giving you the freedom to focus on your business goals.
        </p>
    </div>
</div>
<div id="partnerServices">
    <div class="container">
        <h2>Partner Services</h2>
        <br />
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                    <div class="panel-heading" style="background-color:aqua">
                        <h4 class="panel-title">
                            Connectivity
                        </h4>
                    </div>
                </a>
                <div id="collapse1" class="panel-collapse collapse in">
                    <div class="panel-body">
                        FTTH<br />
                        FTTB
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                    <div class="panel-heading" style="background-color:aqua">
                        <h4 class="panel-title">
                            Telephony

                        </h4>
                    </div>
                </a>
                <div id="collapse2" class="panel-collapse collapse">
                    <div class="panel-body">
                        Hosted PABX Solutions
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                    <div class="panel-heading" style="background-color:aqua">
                        <h4 class="panel-title">
                            Cloud Solutions

                        </h4>
                    </div>
                </a>
                <div id="collapse3" class="panel-collapse collapse">
                    <div class="panel-body">
                        Microsoft
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                    <div class="panel-heading" style="background-color:aqua">
                        <h4 class="panel-title">
                            Security

                        </h4>
                    </div>
                </a>
                <div id="collapse4" class="panel-collapse collapse">
                    <div class="panel-body">
                        Firewall<br />
                        Endpoint Security<br />
                        Email Security & Continuity
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">
                    <div class="panel-heading" style="background-color:aqua">
                        <h4 class="panel-title">
                            Backup Solutions

                        </h4>
                    </div>
                </a>
                <div id="collapse5" class="panel-collapse collapse">
                    <div class="panel-body">
                        Online Backup<br />
                        Onsite Backup Solutions
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse6">
                    <div class="panel-heading" style="background-color:aqua">
                        <h4 class="panel-title">
                            Webdesign

                        </h4>
                    </div>
                </a>
                <div id="collapse6" class="panel-collapse collapse">
                    <div class="panel-body">
                        Abraham Neethling<br />
                        Dyran Antornirzi<br />
                        Kyle Farr
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@Html.Partial("_contactView")

