@using MSPCloudSite.Models
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="wrapper">
    <div id="banner" class="container"><img src="~/Resources/cloud-computing-1989339.jpg" width="60%" height="20%" alt="" /></div>
    <div id="welcome" class="container">
        <div class="title">
            <h2 id="">About Us</h2>
        </div>
        <p>
            MSPCloud is a unique managed support provider whether your ICT environment is on-prem, in the cloud or a hybrid solution.
            MSPCloud focuses on being the best managed support provider while still offering all the additional ICT services required to run your business successfully.
            MSPCloud partners with leading ICT companies across the globe to ensure an ICT solution that fits your needs.
            MSPCloud will provide you with comprehensive IT support giving you the freedom to focus on your business goals.
        </p>
    </div>
    <div id="five-column" class="container">
        <div><span class="arrow-down"></span>
        </div>
        <div id="tbox1">
            <div class="title">
                <h2>Connectivity</h2>
            </div>
            <p>
                FTTH & FTTB
            </p>
            @*<a href="#" class="button">Learn More</a>*@
        </div>
        <div id="tbox2">
            <div class="title">
                <h2>Telephony</h2>
            </div>
            <p>Hosted PABX Solutions</p>
            @*<a href="#" class="button">Learn More</a>*@
        </div>
        <div id="tbox3">
            <div class="title">
                <h2>Cloud Solutions</h2>
            </div>
            <p>Microsoft</p>
            @*<a href="#" class="button">Learn More</a>*@
        </div>
        <div id="tbox4">
            <div class="title">
                <h2>Security</h2>
            </div>
            <p>
                Firewall<br>
                Endpoint Security<br>
                Email Security & Continuity.
            </p>
            @*<a href="#" class="button">Learn More</a>*@
        </div>
        <div id="tbox5">
            <div class="title">
                <h2>Backup Solutions</h2>
            </div>
            <p>
                Online Backup<br>
                Onsite Backup Solutions
            </p>
            @*<a href="#" class="button">Learn More</a>*@
        </div>
        <div id="tbox6">
            <div class="title">
                <h2>Web Design</h2>
            </div>
            <p>
                Abraham Neethling<br>
                Dyran Antonizzi<br>
                Kyle Farr
            </p>
            @*<a href="#" class="button">Learn More</a>*@
        </div>
    </div>
    <div id="portfolio" class="container">
        @Html.Partial("_contactView")
    </div>
</div>
