@model dynamic

@{
    ViewBag.Title = "Support Contracts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="mspCloudSupportServices">
    <h2>MSPCloud Support Contracts</h2>
    <p>
        MSPCloud support contracts ensure that your IT environment runs smoothly. <br />
        MSPCloud professionals will make sure that your business professionals can always work well, with minimal delays or disruptions. <br />
        This enables you to focus on developing your business. <br />
        MSPCloud support contracts are based on a pay per device model and includes free RMM tool, Patch management and Device monitoring across all the support contracts. <br />
        MSPCloud support contracts offer a range of 8x5 or 24x7 SLAs, delivered within the ITIL framework and backed-up by our professional support team.
    </p>
</div>
<div id="silver">
    <h2>Silver</h2>
    <p>
        Your Business does not require continuous IT support but you need to know you are covered in the event of an IT emergency.<br />
        The MSPCloud Silver contract is our most affordable contract if you do not require continuous IT support. <br />
        With the Silver contract you receive the free RMM tool, Patch management and Device monitoring but you pay a competitive hourly rate for any remote or on-site support.
    </p>
</div>
<div id="gold">
    <h2>Gold</h2>
    <p>
        Your Business only requires professional remote IT support. <br />
        The MSPCloud Gold contract is perfect for your business if you already have your ICT environment set up and you don’t require on-site IT support on a regular basis. <br />
        The MSPCloud Gold contract can also be used to reinforce your current IT department with unlimited remote IT support and the MSP tools that comes with the MSPCloud Gold contract.<br />
        With the MSPCloud Gold contract you receive unlimited remote IT support, RMM tool, patch management, device monitoring and basic reporting.
    </p>
</div>
<div id="platinum">
    <h2>Platinum</h2>
    <p>
        Your business requires professional on-site and remote IT support. <br />
        The MSPCloud Platinum contract is perfect for any business that utilizes ICT and don’t have an IT department. <br />
        MSPCloud becomes part of your business and we align ourselves with your company values, goals and your road map to success. <br />
        A fixed monthly rate will allow for easy incorporation into your budget with no excess or unforeseen expenditure. <br />
        With the MSPCloud Platinum contract you receive unlimited professional onsite and remote IT support, RMM tool, patch management, device monitoring and daily reporting.
    </p>
</div>